.content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.photos li {
  float: left;
  margin: 6px;
  width: 150px;
  height: 150px;
}

.photos li img {
  width: 150px;
  height: auto;
}

